body {
  background: linear-gradient(
    to top,
    rgb(46, 109, 191),
    rgba(46, 109, 191, 0.2)
  );
  text-transform: capitalize;
  text-align: center;
  font-size: 1.1em;
  font-family: "Yusei Magic", sans-serif;
}
#title {
  color: rgb(186, 133, 9);
  font-weight: 500;
}
.subtitle {
  color: rgb(219, 168, 50);
}

#service-image {
  height: 450px;
  width: 60%;
  background: radial-gradient(circle, violet 30%, indigo 40%, blue 10%);
}
.link {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}
