h2:hover {
  color: green;
}
.subtitle {
  color: blue;
}

#contact {
  color: red;
}

li:first-child {
  color: steelblue;
}
li:last-child {
  color: blueviolet;
}
li:nth-child(3) {
  color: brown;
}

li:only-child {
  color: darkorange;
}

#google-link:link {
  color: blue;
}
#google-link:visited {
  color: red;
}

/* Specificity Rule:- Inline Styles > ID > Class > Basic Selector */
